@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --color-dark: #21243D;
    --color-light: #8695A4;
    --color-link: #000000;
    --color-primary: #FF6464;
    --color-secondary: #00A8CC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul>li {
    list-style: none;
}

.container {
    width: 1000px;
    max-width: 94%;
    margin-inline: auto;
}


/* HEAD */

.header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

.header nav ul,
.footer__item ul {
    display: flex;
}

nav li>a {
    text-decoration: none;
    padding-left: 40px;
    color: var(--color-link);
    font-weight: 800;
    font-family: 'Heebo';
    font-style: normal;
    width: 100%;
    margin: 0 10px;
    transition: all .7s;
}

.main {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
}

.part1 {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 0;
}

.part1 h1 {
    font-size: 44px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    width: 70%;
    margin: 1rem 0;
}

.part1 p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    width: 70%;
    margin: 1rem 0;
}

.part1 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    text-align: center;
    height: 47px;
    border-radius: 2px;
    background-color: var(--color-primary);
}

.part2 img {
    width: 100%;
    height: auto;
}


/* POSTS */

.posts {
    margin: 100px 0 30px 0;
    padding: 1rem 0;
    background-color: #EDF7FA;
}


/* POST */

.container>.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h4 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
}

.title a {
    text-decoration: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secondary);
}

.post-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 35px 0;
    width: 100%;
}

.post-item {
    padding: 15px;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 40px;
    line-height: 32px;
}

.post-item h3 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    width: 81%;
    margin: 19px 0;
    color: var(--color-dark);
}

.post-item p {
    width: 81%;
    margin: 5px 0 15px 0;
    color: var(--color-dark);
}

.post-item div {
    margin: 13px 0;
}

span.post__date {
    font-family: 'Heebo';
    font-style: normal;
    color: var(--color-dark);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 13px;
}

span.line__y {
    width: 120px;
    height: 110px;
    border: 1px solid var(--color-link);
    max-width: 100%;
    margin: 0 15px;
    background-color: var(--color-link);
}


/* WORK */

.works {
    margin: 1rem 0 6rem 0;
}

.work-item {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E0E0E0;
    max-width: 95%;
}

.work__img {
    margin-right: 1rem;
}

.work__iamge img {
    width: 100%;
    height: auto;
}

h4.title {
    color: var(--color-dark);
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 1rem;
}

.work__body {
    flex-basis: 50%;
}

.work__body p {
    color: var(--color-dark);
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 200;
}

.work__date {
    margin-bottom: 1rem;
}

.work__date span:nth-child(2n-1) {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    color: #fff;
    width: 62px;
    height: 25px;
    padding: 3px 7px;
    border-radius: 13px;
    background-color: #142850;
    font-size: 18px;
    margin-right: 1.5rem;
}

.work__date span:nth-child(2n) {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #8695A4;
}


/* FOOTER */

footer {
    margin: 8rem 0 2rem 0;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__item p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 30px 0;
    color: var(--color-dark);
}

.footer__item li {
    margin: 0 1rem;
}

.footer__item .fa-facebook,
.footer__item .fa-instagram, 
.footer__item .fa-twitter,
.footer__item .fa-linkedin {
    color: var(--color-dark);
    font-size: 2.5rem;
}


/* SIZES */

@media screen and (max-width: 730px) {
    .hamburger {
        width: 20px;
        height: auto;
        z-index: 2;
    }
    .line {
        width: 100%;
        height: 3px;
        margin-bottom: 2px;
        background-color: var(--color-dark);
    }
    .line.x:nth-child(1) {
        transition: all .7s;
        transform: translateY(5px) rotate(45deg);
    }
    .line.x:nth-child(2) {
        transition: all .7s;
        max-width: 0px;
    }
    .line.x:nth-child(3) {
        transition: all .7s;
        transform: translateY(-5px) rotate(-45deg);
    }
    .header nav ul {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 49%;
        left: 0;
        top: -600px;
        transition: all .8s;
        background-color: var(--color-light);
        line-height: 50px;
    }
    .header nav ul.open {
        transition: all .8s;
        top: 0;
    }
    .header nav ul li a {
        padding: 10px 20px;
        transition: all 2s;
    }
    .header nav ul li a:hover {
        padding: 10px 20px;
        transition: all 2s;
        border: 1px solid var(--color-link);
    }
    .part1 {
        flex-basis: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .part1 h1 {
        font-size: 36px;
        width: 100%;
        margin: 1rem 0;
    }
    .main {
        flex-flow: column-reverse;
    }
    .part2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .part2 img {
        width: 170px;
    }
    /* POST */
    .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title a {
        display: none;
    }
    .post-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .post-item {
        width: 100%;
    }
    .post-item h3,
    .post-item p {
        width: 100%;
    }
    .work {
        display: flex;
        flex-flow: column wrap;
        overflow: hidden;
    }
    .work-item {
        flex-flow: column wrap;
        max-width: 100%;
    }
    .work__img {
        width: 100%;
    }
    .work__img img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .work__body {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    h4.title {
        font-size: 22px;
    }
    .work__body>* {
        margin-bottom: 1rem;
        padding: 0px 5px;
    }
    .work__body p {
        width: 96%;
        text-align: justify;
        text-justify: auto;
    }
}