@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --color-dark: #21243D;
    --color-light: #8695A4;
    --color-link: #000000;
    --color-primary: #FF6464;
    --color-secondary: #00A8CC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul>li {
    list-style: none;
}

.container {
    width: 1000px;
    max-width: 94%;
    margin-inline: auto;
}


/* HEAD */

.header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

.header nav ul,
.footer__item ul {
    display: flex;
}

nav li>a {
    text-decoration: none;
    padding-left: 40px;
    color: var(--color-link);
}

.header nav a {
    font-weight: 500;
}

.main {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    /* justify-content: space-between; */
    flex-flow: row wrap;
}

.part1 {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-grow: 0;
}

.part1 h1 {
    font-size: 44px;
    font-weight: 700;
    width: 70%;
    margin: 1rem 0;
}

.part1 p {
    width: 70%;
    margin: 1rem 0;
}

.part1 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    text-align: center;
    height: 47px;
    border-radius: 2px;
    background-color: var(--color-primary);
}

.part2 img {
    width: 100%;
    height: auto;
}


/* POSTS */

.posts {
    margin: 100px 0;
    background-color: #EDF7FA;
}


/* SIZES */

@media screen and (max-width: 730px) {
    .hamburger {
        width: 20px;
        height: auto;
        z-index: 2;
        overflow: hidden;
    }
    .line {
        width: 100%;
        height: 3px;
        margin-bottom: 2px;
        background-color: var(--color-dark);
    }
    .line.x:nth-child(1) {
        transition: all .7s;
        transform: translateY(5px) rotate(45deg);
    }
    .line.x:nth-child(2) {
        transform: translateX(60px);
    }
    .line.x:nth-child(3) {
        transition: all .7s;
        transform: translateY(-5px) rotate(-45deg);
    }
    .header nav ul {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        left: 0;
        top: -400px;
        transition: all .8s;
        background-color: var(--color-light);
        line-height: 50px;
    }
    .header nav ul.open {
        transition: all .8s;
        top: 0;
    }
    .nav ul li {
        width: 350px;
        height: 20px;
    }
    .header nav ul li a {
        padding: 10px 20px;
        transition: all 2s;
    }
    .header nav ul li a:hover {
        padding: 10px 20px;
        transition: all 2s;
        border: 1px solid var(--color-link);
    }
    .part1 {
        flex-basis: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main {
        flex-flow: column-reverse;
    }
    .part2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .part2 img {
        width: 170px;
    }
}