@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}

.navbar-toggler-icon {
    color: aqua;
}

html {
    scroll-behavior: smooth;
}


/* HEADER */

.navbar-brand img {
    width: 100%;
    height: auto;
}

.header__img-custom {
    width: 100%;
    height: auto;
}

.btn-dark-blue-custom {
    background-color: #34547A;
}

.img__icon i {
    font-size: 2.7rem;
}

.progress-height-custom {
    height: 5px;
}

.thumbnail-custom {
    position: relative;
}

.caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.caption i.fa-circle-play {
    font-size: 5rem;
    color: #fff;
}

.thumbnail-work-custom {
    position: relative;
}

.img-overly {
    display: block;
}

.thumbnail-work-custom:hover .caption-work {
    transition: all .5s;
    opacity: 1;
    /* transform: scale(1); */
}

.caption-work {
    position: absolute;
    top: 0;
    transition: all .5s;
    background: rgba(15, 116, 248, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.caption-work i {
    font-size: 2rem;
}

#works>row {
    overflow: hidden!important;
}

.textarea-custom {
    height: 175px;
    resize: none;
}

.flex-end-custom {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 992px) {
    .caption {
        top: 30%;
    }
    .flex-end-custom {
        justify-content: center;
    }
}